#carouselExampleControlsNoTouching{
    position: relative;
   
}


#pre{
    position: absolute;
    right:32%;
    top:80%;
    background-color: black;
}

#pro{
    position: absolute;
    right:65.5%;
    top:80%;
    background-color: black;
   
}

#view{
   background-color: rgb(3, 3, 71);
}


.cardWZ{
 
    margin-top: 5%;
    
}

.carousel-item{
    margin-bottom: 2%;
   
}

.about-text{
    margin-top: 2%;
    
   
}

#nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    width: 150rem;
    margin-right: 5%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

}

#navbar{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    width: 150rem;
    align-items: center!important;
}

.avatar{
    width:13%;
    float: right;
    margin-right: 10%;
    margin-top: -13%;
}

.Touch{
    height: 40%;
}

.testing{
    border: none!important;
}

.logocard{
    background-color: rgb(1, 1, 71)!important;
}


@media screen and (max-width: 768px) {
    .avatar{
        display: none;
    }
    .about-text{
        font-size: 11.5px;
    }
   }

   @media screen and (max-width: 576px) {
    .avatar{
        display: none;
    }
}